[submodule "extras/SPIRV-Cross"]
	path = extras/SPIRV-Cross
	url = git@github.com:KhronosGroup/SPIRV-Cross.git
[submodule "extras/Vulkan-Hpp"]
	path = extras/Vulkan-Hpp
	url = https://github.com/KhronosGroup/Vulkan-Hpp.git
[submodule "extras/VulkanMemoryAllocator"]
	path = extras/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "extras/shaderc"]
	path = extras/shaderc
	url = git@github.com:google/shaderc.git
[submodule "extras/SPIRV-Tools"]
	path = extras/SPIRV-Tools
	url = git@github.com:KhronosGroup/SPIRV-Tools.git
[submodule "extras/SPIRV-Headers"]
	path = extras/SPIRV-Headers
	url = git@github.com:KhronosGroup/SPIRV-Headers.git
[submodule "extras/glslang"]
	path = extras/glslang
	url = git@github.com:KhronosGroup/glslang.git
[submodule "extras/glfw"]
	path = extras/glfw
	url = git@github.com:glfw/glfw.git
[submodule "extras/glm"]
	path = extras/glm
	url = git@github.com:g-truc/glm.git
